ion-toolbar{
    --ion-toolbar-background: #151515; /*cor do background*/
    --ion-text-color: #ffffff; /*cor do texto*/
    --ion-toolbar-color:#ffffff; /*cor do titulo*/
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

ion-content{
    --ion-background-color:#151515;
    --ion-text-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

